#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#navbar li a {
  display: block;
  color: #4a5568;
  padding: 8px 16px;
  text-decoration: none;
}

#navbar li a.active {
  background-color: #555;
  color: white;
}

#navbar li a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.1);
  color: #4a5568;
}