<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>UCOKarts</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>servidor</param-name>
    <param-value>jdbc:mysql://oraclepr.uco.es:3306/i42semoa</param-value>
  </context-param>
  <context-param>
    <param-name>usuario</param-name>
    <param-value>i42semoa</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>password</param-value>
  </context-param>
  <context-param>
    <param-name>pathSQL</param-name>
    <param-value>/WEB-INF/sql.properties</param-value>
  </context-param>
  <context-param>
    <param-name>index</param-name>
    <param-value>/index.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>avisolegal</param-name>
    <param-value>/avisolegal.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>condiciones</param-name>
    <param-value>/condiciones.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>privacidad</param-name>
    <param-value>/privacidad.jsp</param-value>
  </context-param>
  
  
  <!-- VISTAS -->
  <!-- Alertas -->
  <context-param>
    <param-name>adminACLErrorView</param-name>
    <param-value>/mvc/view/alertas/adminACLErrorView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>asociarKartErrorView</param-name>
    <param-value>/mvc/view/alertas/asociarKartErrorView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>invitadoACLErrorView</param-name>
    <param-value>/mvc/view/alertas/invitadoACLErrorView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>noBonoErrorView</param-name>
    <param-value>/mvc/view/alertas/noBonoErrorView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>pistaErrorView</param-name>
    <param-value>/mvc/view/alertas/pistaErrorView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>registroExitoView</param-name>
    <param-value>/mvc/view/alertas/registroExitoView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaBonoExitoView</param-name>
    <param-value>/mvc/view/alertas/reservaBonoExitoView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaExitoView</param-name>
    <param-value>/mvc/view/alertas/reservaExitoView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaFailureView</param-name>
    <param-value>/mvc/view/alertas/reservaFailureView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaNoPermitidaErrorView</param-name>
    <param-value>/mvc/view/alertas/reservaNoPermitidaErrorView.jsp</param-value>
  </context-param>
  
  <!-- Admin -->
  <context-param>
    <param-name>asociarKartView</param-name>
    <param-value>/mvc/view/admin/asociarKartView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>crearKartView</param-name>
    <param-value>/mvc/view/admin/crearKartView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>crearPistaView</param-name>
    <param-value>/mvc/view/admin/crearPistaView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>listadoKartsView</param-name>
    <param-value>/mvc/view/admin/listadoKartsView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>listadoPistasView</param-name>
    <param-value>/mvc/view/admin/listadoPistasView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>listadoReservasView</param-name>
    <param-value>/mvc/view/admin/listadoReservasView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>listadoUsuariosView</param-name>
    <param-value>/mvc/view/admin/listadoUsuariosView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>modificarKartView</param-name>
    <param-value>/mvc/view/admin/modificarKartView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>modificarPistaView</param-name>
    <param-value>/mvc/view/admin/modificarPistaView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>panelAdminView</param-name>
    <param-value>/mvc/view/admin/panelAdminView.jsp</param-value>
  </context-param>
  
  <!-- Usuario -->
  <context-param>
    <param-name>editarPerfilView</param-name>
    <param-value>/mvc/view/usuario/editarPerfilView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>loginView</param-name>
    <param-value>/mvc/view/usuario/loginView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>perfilView</param-name>
    <param-value>/mvc/view/usuario/perfilView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>registroView</param-name>
    <param-value>/mvc/view/usuario/registroView.jsp</param-value>
  </context-param>
  
  <!-- Reserva -->
  <context-param>
    <param-name>crearReservaView</param-name>
    <param-value>/mvc/view/reserva/crearReservaView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>homeView</param-name>
    <param-value>/mvc/view/reserva/homeView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>pistaView</param-name>
    <param-value>/mvc/view/reserva/pistaView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaAdultosView</param-name>
    <param-value>/mvc/view/reserva/reservaAdultosView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaInfantilView</param-name>
    <param-value>/mvc/view/reserva/reservaInfantilView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaFamiliarView</param-name>
    <param-value>/mvc/view/reserva/reservaFamiliarView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaBonoView</param-name>
    <param-value>/mvc/view/reserva/reservaBonoView.jsp</param-value>
  </context-param>
  
  
  <!-- CONTROLADORES -->
  <!-- Admin -->
  <context-param>
    <param-name>listadoKartsController</param-name>
    <param-value>/mvc/controller/admin/listadoKartsController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>listadoPistasController</param-name>
    <param-value>/mvc/controller/admin/listadoPistasController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>listadoReservasController</param-name>
    <param-value>/mvc/controller/admin/listadoReservasController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>listadoUsuariosController</param-name>
    <param-value>/mvc/controller/admin/listadoUsuariosController.jsp</param-value>
  </context-param>
  
  <!-- Usuario -->
  <context-param>
    <param-name>editarPerfilController</param-name>
    <param-value>/mvc/controller/usuario/editarPerfilController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>loginController</param-name>
    <param-value>/mvc/controller/usuario/loginController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>logoutController</param-name>
    <param-value>/mvc/controller/usuario/logoutController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>perfilController</param-name>
    <param-value>/mvc/controller/usuario/perfilController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>registroController</param-name>
    <param-value>/mvc/controller/usuario/registroController.jsp</param-value>
  </context-param>
  
  <!-- Reseva -->
  <context-param>
    <param-name>crearReservaController</param-name>
    <param-value>/mvc/controller/reserva/crearReservaController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaAdultosController</param-name>
    <param-value>/mvc/controller/reserva/reservaAdultosController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaBonoController</param-name>
    <param-value>/mvc/controller/reserva/reservaBonoController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaFamiliarController</param-name>
    <param-value>/mvc/controller/reserva/reservaFamiliarController.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>reservaIndividualController</param-name>
    <param-value>/mvc/controller/reserva/reservaIndividualController.jsp</param-value>
  </context-param>
  
  
  <!-- SERVLETS -->
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PistaServlet</display-name>
    <servlet-name>PistaServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.PistaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PistaServlet</servlet-name>
    <url-pattern>/PistaServlet</url-pattern>
    <url-pattern>/Pista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearKartServlet</display-name>
    <servlet-name>CrearKartServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.CrearKartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearKartServlet</servlet-name>
    <url-pattern>/CrearKartServlet</url-pattern>
    <url-pattern>/CrearKart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearPistaServlet</display-name>
    <servlet-name>CrearPistaServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.CrearPistaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearPistaServlet</servlet-name>
    <url-pattern>/CrearPistaServlet</url-pattern>
    <url-pattern>/CrearPista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarPistaServlet</display-name>
    <servlet-name>ModificarPistaServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.ModificarPistaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarPistaServlet</servlet-name>
    <url-pattern>/ModificarPistaServlet</url-pattern>
    <url-pattern>/ModificarPista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarKartServlet</display-name>
    <servlet-name>ModificarKartServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.ModificarKartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarKartServlet</servlet-name>
    <url-pattern>/ModificarKartServlet</url-pattern>
    <url-pattern>/ModificarKart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsociarKartServlet</display-name>
    <servlet-name>AsociarKartServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.AsociarKartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsociarKartServlet</servlet-name>
    <url-pattern>/AsociarKartServlet</url-pattern>
    <url-pattern>/AsociarKart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearReservaAdultosServlet</display-name>
    <servlet-name>CrearReservaAdultosServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.CrearReservaAdultosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearReservaAdultosServlet</servlet-name>
    <url-pattern>/CrearReservaAdultosServlet</url-pattern>
    <url-pattern>/CrearReservaAdultos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearReservaFamiliarServlet</display-name>
    <servlet-name>CrearReservaFamiliarServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.CrearReservaFamiliarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearReservaFamiliarServlet</servlet-name>
    <url-pattern>/CrearReservaFamiliarServlet</url-pattern>
    <url-pattern>/CrearReservaFamiliar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearReservaInfantilServlet</display-name>
    <servlet-name>CrearReservaInfantilServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.CrearReservaInfantilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearReservaInfantilServlet</servlet-name>
    <url-pattern>/CrearReservaInfantilServlet</url-pattern>
    <url-pattern>/CrearReservaInfantil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearReservaBonoServlet</display-name>
    <servlet-name>CrearReservaBonoServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.CrearReservaBonoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearReservaBonoServlet</servlet-name>
    <url-pattern>/CrearReservaBonoServlet</url-pattern>
    <url-pattern>/CrearReservaBono</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearReservaServlet</display-name>
    <servlet-name>CrearReservaServlet</servlet-name>
    <servlet-class>es.uco.pw.servlet.CrearReservaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearReservaServlet</servlet-name>
    <url-pattern>/CrearReservaServlet</url-pattern>
    <url-pattern>/CrearReserva</url-pattern>
  </servlet-mapping>
</web-app>